*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background-color: lightblue;
    background-position: center;
    background-size: cover;
}

.nav{
    width: 1200px;
    height: 120px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    font-family:"Times New Roman", Times, serif;
    font-size: 30px;
    color: whitesmoke;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.imglogo{
    max-width:100px;
    float:left;
    border: 3px solid black;
    border-radius: 10px;
    margin-right: 15px;
}

.menu{
    width: 400px;
    float: left;
    height:70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
list-style: none;
margin-left: 62px;
margin-top: 27px;
font-size: 14px;
}

ul li a{
    text-decoration: none;
    color:aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.6s ease-in-out;
}

ul li a:hover{
    color: brown;
    text-decoration: underline;
}

.search1{
    width: 330px;
    float:left;
    margin-left: 270px;
}

.search2{
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    width:200px;
    background: transparent;
    border: 1 px solid brown;
    margin-top: 13px;
    color:azure;
    border-right: none;
    font-size: 16px;
    float:left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.search3{
    width: 100px;
    height: 40px;
    background: brown;
    border: 2px solid brown;
    margin-top: 14px;
    color: whitesmoke;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.search3:focus{
    outline: none;
}

.search2:focus{
    outline: none;
}

.schoolcard{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: lightcoral;
}

.wrapper{
    margin: 150px auto;
    width:70%;
}

img{
    max-width:150px;
    float:left;
    border: 3px solid black;
    border-radius: 10px;
    margin-right: 15px;
}

.textbox{
    color: black;
}

.textbox h2{
    font-size: 42px;
}

.textbox p{
    font-size: 16px;
}

button{
    background:#A25772;
    padding:8px 18px;
    font-weight: bold;
    color:black;
    text-decoration: none;
    display:inline-block;
    border-radius: 5px;
    cursor: pointer;
}






